* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* NAV */

.nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.612);
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
}

.nav__nav-item {
    padding: 3px;
}

.nav-item--bars {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    padding: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* OLA HERO SECTION */

.ola-hero {
    width: 100%;
    /* height: 100vh; */
    background-image: url(../images/ola-hero-section__background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 2px solid rgb(250, 244, 244);
}

.ola-hero__banner {
    width: 100%;
    z-index: -2;
    position: absolute;
}

.ola-hero__banner--mobile {
    display: none;
}

.ola-hero__content {
    border: 2px solid rgba(251, 2, 2, 0);
    padding: 2% 4% 0 4%;
}

.ola-hero__paragraph {
    border: 2px solid rgba(2, 251, 23, 0);
    padding-bottom: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.ola-hero__paragraph--heading {
    width: calc(100% / 3);
    border: 2px solid rgba(56, 2, 251, 0);
    text-align: center;
    font-weight: 600;
}

.ola-hero__paragraph--text {
    width: calc(100% / 3);
    border: 2px solid rgba(251, 2, 151, 0);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -1px;
    word-spacing: 1px;
    text-align: justify;
    display: flex;
    justify-content: center;
}

.ola-hero__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.ola-hero__button {
    padding: 20px 50px;
    border: none;
    border-radius: none;
    font-weight: 600;
}

.ola-hero__button--button-right {
    background-color: rgba(255, 255, 255, 0.177);
    backdrop-filter: blur(10px);
    color: white;
}
.ola-cards{
    padding: 25px 7%;
}
.ola-cards__heading{
    margin-bottom: 10px;
}
.ola-cards__heading--text{
    font-weight: 500;
    font-size: 40px;
}
.ola-cards__card--contents{
    padding: 2%;
}
.ola-cards__card-overflow{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    overflow-x: scroll;

}
.ola-cards__card{
    flex-shrink: 0;
    flex-basis: auto;
    width: 300px;
    border: 2px solid lightgray;
    border-top: none;

}
.card--image{
    width: 100%;
    object-fit:scale-down;
    transition: 0.3s ease-in-out;

}
.ola-cards__card:hover{
    border-top: 2px solid lightgray;
    border-radius: 15px 15px 0 0;
}
.ola-cards__card:hover .card--image{
    height: 100%;
    border-radius:15px 15px 0 0;
    scale: 1.01;
}
.ola-cards__card--texts{
    padding: 10px;
    border-bottom: 1px solid rgb(238, 231, 231);
}
.ola-cards__pricings{
    padding:0 0 0 10px;
}
.ola-cards__pricings p:nth-child(1){
    font-size: 14px;
    text-transform: capitalize;
    color: rgb(218, 215, 215);
}
.ola-cards__pricings p:nth-child(2){
    font-size: 20px;
}
.ola-cards__pricings p:nth-child(3){
    font-size: 12px;
}
.ola-cards__pricings p:nth-child(3) span{
    color: rgb(218, 215, 215);
}
.ola-cards__heading h1:nth-child(2) span{
        display: none;
    }
.ola-card__button-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
}
.ola-card__button{
    width: 100%;
    padding: 20px 50px;
    border: none;
    border-radius: none;
    font-weight: 600;
}
.ola-card__button--top{
    color: white;
    background-color: black;
}
.ola-card__button--top:hover{
    background-color: rgb(43, 43, 43);
}

@media (max-width:900px) {
    .ola-hero__paragraph--heading {
        width: calc(100% / 1);
    }

    .ola-hero__paragraph--text {
        width: calc(100% / 1);
    }
    .ola-cards__heading h1:nth-child(1) span{
        display: none;
    }
    .ola-cards__heading h1:nth-child(2) span{
        display: inline;
    }

}

@media (max-width:576px) {
    .nav-item--bars {
        background-color: transparent;
        color: white;
    }
    .ola-hero{
        background:url(../images/ola-hero-section__backround--mobile.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /* .ola-hero__banner--mobile{
        display: inline;
    }
    .ola-hero__banner--desktop{
        display: none;
    } */
    .ola-hero__button-container{
        padding:30% 0;
    }
    .ola-hero__button{
        font-size: 12px;
        padding: 2% 4%;
    }
    .ola-cards__heading--text{
    font-weight: 500;
    font-size: 30px;
    }
    .ola-cards__heading h1:nth-child(1) span{
        display: none;
    }
    .ola-cards__heading h1:nth-child(2) span{
        display: inline;
    }

}